<table>
    <tr>
        <td>
            <label>Title: </label>
        </td>
        <td>
            <input id="<%= titleInputId %>" type="text" value="<%= book.title %>">
        </td>
    </tr>
    <tr>
        <td>
            <label>Author's first name: </label>
        </td>
        <td>
            <input id="<%= authorsNameInputId %>" type="text" value="<%= book.authorsFirstName %>">
        </td>
    </tr>
    <tr>
        <td>
            <label>Author's family name: </label>
        </td>
        <td>
            <input id="<%= authorsSurnameInputId %>" type="text" value="<%= book.authorsSurname %>">
        </td>
    </tr>
</table>
<button id="<%= cancelButtonId %>">Cancel</button>
<button id="<%= saveButtonId %>">Save changes</button>