<h3><%= "\"" + book.title + "\"" %></h3>
<p>by <%= book.authorsFirstName || "" %> <%= book.authorsSurname || "" %></p>
<% if (book.copies.length === 0) { %>
<p>No copies of this book have been added yet!</p>
<% } else { %>
<p><%= freeCopies %> available
    <% if (freeCopies === 1){ %>
    copy
    <% } else { %>
    copies
    <% } %>
    out of <%= book.copies.length %></p>
<% if (freeCopies === 0) { %>
<p>Available copy:
    <% if (typeof firstAvailableCopyDate !== "undefined"){debugger; %>
    <%= firstAvailableCopyDate %>
    <% } else { %>
    unknown
    <% } %>
</p>
<% }} %>
<span class="glyphicon glyphicon-pencil button edit" id="<%= editButtonId %>" title="Edit"></span>
<span class="glyphicon glyphicon-plus button copy" id="<%= addCopyButtonId %>" title="Add a copy">
</span>

