<h3><%= student.name || "" %> <%= student.surname || "" %></h3>
<P><%= student.grade %><%= student.division %> class №<%= student.numberInClass %></P>
<span class="glyphicon glyphicon-pencil button" id="<%= editButtonId %>" title="Edit"></span>
